.card{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
}
.card .card-image img{
    width: 100%;
    height: auto;
}

.card .card-content{
    padding: 10px;
    font-size: medium;
    font-weight: bold;

}
