.content_inclusive{
    width:70vw;
    min-height: 900px;
    height: auto;
    background-color: aliceblue;
    margin: 0 auto;
}
.content_inclusive .head_title{
    margin: 0;
    text-align: left;
    color: rgb(60, 117, 119);
    margin-left: 20px;
}


.content-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px;
    gap: 20px;
}
button{
    width: 100px;
    height: 45px;
    font-size: large;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid rgb(60, 117, 119);;
    transition: all ease 0.5s;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}