.header_inclusive{
    width: 100%;
    height: 150px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.logo_content{
    width: 300px;
    height: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    justify-content: left;
}

.logo_content img{
    width: 64%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.menu_content{
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.menu_content ul{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
    margin: 0;
    margin-right: 30px;
}
.menu_content ul li{
    padding: 7px 5px 0 5px;
    font-size: 1.2rem;
    margin: 10px 15px;
    font-weight: bolder;
    color: #b9de8b;
    cursor: pointer;
    transition: all linear 0.4s;
}

.menu_content ul li:hover{
    text-decoration: underline;
    transform: scale(1.2,1.2);
}