.search_input_inclusive{
    position: relative;
    width: 200px;
    margin-bottom: 50px;
    margin-left:20px;
    
}

.search_input{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    color: darkseagreen;
    outline: none;
    border: none;
    background-color: #ddd;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bolder;
}

.search_input_inclusive i{
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
    color: cadetblue;
    font-size: 20px;
}
